/*Reset Css*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/*Only CLASS selectors.*/
/*HEADER START PART*/

.header {
    display: flex;
    border: 1px solid red;
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgb(202, 155, 229);
}

.imagesandlinks {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
/*!!!!!HEADER FINISH!!!!!*/

/*HEADERUP START PART*/
.containerupper {
    display: flex;
    padding: 8px 12px 0 12px;
    border: 1px solid rgb(251, 255, 0);
    background-color: rgb(202, 155, 229);
    height: 200px;
}

.containerinsideup {
    display: flex;
    flex: 1 0 0%;
    border: 1px solid red;
}

/*!!!!!HEADERUP FINISH PART!!!!!*/

/*Only IDS AND TYPE SELECTORS*/
#logoblack {
    display: flex;
    width: 250px;
    justify-self: center;
}

#flickr {
    display: flex;
    align-self: center;
}

#facebook {
    display: flex;
    align-self: center;
}

a[href="https://www.facebook.com/profile.php?id=100073822972509&mibextid=LQQJ4d"] ,
a[href="https://www.flickr.com/photos/156821040@N05/"]
{ 
    text-decoration: none;
    font-size: 28px;
    font-weight: bolder;
    color: black;
}

 /*Adjusted body so footer can get enough space*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Created the footer and adjusted the margin to auto. It will work not consuming space
  while i'm working on the html and css.
                               PLEASE WRITE ABOVE ONLY!!! */

footer {
    margin-top: auto;
}